Library/ArtifactDB
Library/Bee/artifacts/WinPlayerBuildProgram/il2cppoutput/build/GameAssembly.pdb
Library/Bee/artifacts/WinPlayerBuildProgram/u1oik/GameAssembly.pdb
Library/PackageCache/com.unity.burst@1.8.9/.Runtime/libburst-llvm-15.dylib
Library/PlayerDataCache/Win64/Data/level0.resS
